---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Pagination from "../../components/Pagination.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths({ paginate }: { paginate: any }) {
    const allArticles = await getCollection("articles");
    const sortedArticles = allArticles.sort(
        (a, b) => b.data.releaseDate.valueOf() - a.data.releaseDate.valueOf(),
    );
    return paginate(sortedArticles, { pageSize: 20 });
}

const page = (Astro.props as any).page;

// Redirect page 1 to home to avoid duplicate content
if (page.currentPage === 1) {
    return Astro.redirect("/");
}
---

const description = `Discover in-depth reviews, guides, and latest updates on entertainment: Drama, Movies, Games, Anime, and Novels. Your ultimate source for pop culture. - Page ${page.currentPage}`;

<Layout title={`OmniNav | Reviews & Guides for Drama, Movie, Game, Anime, Novel - Page ${page.currentPage}`} description={description}>
    <div class="grid">
        {page.data.map((article) => <Card article={article} />)}
    </div>

    <Pagination page={page} />
</Layout>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 2rem;
    }
</style>
